@import '../node_modules/bootstrap/dist/css/bootstrap-reboot.css';
@import '/jquery-ui-1.12.1.custom/jquery-ui.min.css';
@import '/jquery-ui-1.12.1.custom/jquery-ui.structure.min.css';
@import '/jquery-ui-1.12.1.custom/jquery-ui.theme.min.css';
@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@font-face {
  font-family: 'Josefin';
  src: url('../fonts/Josefin_Sans/JosefinSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Josefin';
  src: url('../fonts/Josefin_Sans/JosefinSans-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Josefin';
  src: url('../fonts/Josefin_Sans/JosefinSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Josefin';
  src: url('../fonts/Josefin_Sans/JosefinSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Titillium';
  src: url('../fonts/Titillium_Web/TitilliumWeb-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium';
  src: url('../fonts/Titillium_Web/TitilliumWeb-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Titillium';
  src: url('../fonts/Titillium_Web/TitilliumWeb-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium';
  src: url('../fonts/Titillium_Web/TitilliumWeb-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  outline: none !important;
}

.card-body, .card-header, .card, {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

body::after, body::before, body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c9de96+0,8ab66b+44,398235+100;Green+3D+%233 */
  background: #c9de96;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #c9de96 0%, #8ab66b 44%, #398235 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #c9de96 0%, #8ab66b 44%, #398235 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #c9de96 0%, #8ab66b 44%, #398235 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}

ol, ul, li, p, .list-group, .list-group-item {
  font-family: 'Josefin' !important;
  font-weight: normal !important;
  font-size: 1.05em;
  line-height: 2.5ch;
}

h1, h2, h3, h4, h5, h6, header {
  font-family: 'Titillium' !important;
  font-weight: bold !important;
  font-size: 1.1em;
}

.card-body, .list-group, .list-group-item, .card-text, p {
  font-family: 'Josefin' !important;
}

.card-title, .card-header, h1, h2, h3, h4, h5, h6 {
  font-family: 'Titillium' !important;
}

.btn {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  color: var(--light);
  cursor: pointer;
  box-shadow: 4px 3px 12px rgb(29.8%, 30.6%, 27.8%);
  transition: all 300ms ease-in;
}

.btn:hover {
  box-shadow: 2px 3px 6px rgb(29.8%, 30.6%, 27.8%);
  color: var(--dark);
  background-color: hsv(158, 99.2, 0.3);
}

a:hover {
  background-color: hsv(158, 99.2, 0.3) !important;
  color: hsv(158, 99.2, 0.3) !important;
}

p {
  font-size: 1.05em;
  line-height: 2.5ch;
  word-wrap: break-word;
}

img#Todd {
  border: 2px solid black;
  box-shadow: 6px 8px 12px -1px var(--gray-dark);
  border-radius: 6px;
  width: 25%;
  height: auto;
  transform: box-shadow 800ms ease-in;
}

img#Todd:hover, img#Todd:focus {
  transition-delay: 200ms;
  box-shadow: 3px 4px 4px 0px var(--dark);
}

#h11 {
  font-family: 'Titillium', sans-serif !important;
  font-weight: bold;
  margin-top: 40px;
  font-size: 2.25em;
}

#h12 {
  font-family: 'Titillium', sans-serif !important;
  font-weight: bold;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 1.8em;
}

h3 {
  font-family: 'Josefin', sans-serif !important;
  font-size: 1.3em;
  font-weight: bold;
}

body {
  position: relative;
}

.nav-link {
  font-size: 1.2em;
}

footer {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  font-family: 'Josefin' !important;
  clear: none;
  font-variant: small-caps;
  letter-spacing: -0.2px !important;
  word-spacing: 1px !important;
  color: var(--gray);
  background-color: var(--dark);
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  padding-top: 8px;
  margin-bottom: 0;
  padding-bottom: 0;
  height: 100%;
}

footer p {
  text-transform: unset;
}

footer a {
  color: var(--info);
}

footer a:hover, footer a:focus {
  color: var(--info);
  text-transform: none;
  font-style: normal;
  font-style: initial;
  text-decoration: none !important;
}

.pointer {
  font-size: 34px;
}

hr {
  color: black;
  background-color: black;
}

button#animateBtn, button#unAnimateBtn {
  font-size: 14px !important;
  text-transform: uppercase;
}

a.btn {
  font-size: 14px;
  border-radius: 8px !important;
  padding: 6px 14px !important;
  font-size: 0.6rem !important;
}

.newBorder {
  border: 8px solid var(--green) !important;
  border-radius: 4px;
  cursor: pointer !important;
}

.navbar, .navbar-dark {
  background-color: #343a40 !important;
}

.nav-item, .nav-item a {
  color: var(--gray) !important;
}